.pie-chart {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip-path: circle()
    background: conic-gradient(
        var(--color, #6a9ed1) calc(var(--percentage, 0) * 1%),
        transparent calc(var(--percentage, 0) * 1%)
    );
}

.slice {
    position: absolute;
    inset: 0;
    clip-path: circle(50%);

}